<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.teg.vereinsapp">

    <application
        android:label="TeG Altmühlgrund"
        android:icon="@mipmap/ic_launcher"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <!-- Entferne die `android:name`-Zeile oder setze sie auf MainActivity -->
        
        <!-- Deine MainActivity bleibt hier -->
        <activity
           android:name=".MainApplication"
           android:launchMode="singleTop"
           android:theme="@style/LaunchTheme"
           android:configChanges="orientation|screenSize|smallestScreenSize"
           android:hardwareAccelerated="true"
           android:windowSoftInputMode="adjustResize">
</activity>

    </application>
</manifest>