<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tennisverein.weidenbach">

    <application
        android:label="TeG Altmühlgrund"
        android:icon="@mipmap/ic_launcher"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <!-- Entferne die `android:name`-Zeile oder setze sie auf MainActivity -->
        
        <!-- Deine MainActivity bleibt hier -->
        <activity
            android:name="io.flutter.embedding.android.FlutterActivity"
            android:exported="true">
            android:launchMode="singleTask"
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|screenLayout|layoutDirection|fontScale|screenDensity"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
<intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
<meta-data
  android:name="flutterEmbedding"
  android:value="2" />
<meta-data android:name="com.google.android.gms.ads.AD_MANAGER_APP" android:value="false"/>
</activity>
<meta-data
    android:name="firebase_analytics_collection_enabled"
    android:value="false" />

    </application>
</manifest>